[submodule "lib/burst"]
        path = lib/burst
        url = git@github.com:kotfic/coding-standards.git
[submodule "lib/php"]
        path = lib/php
        url = https://github.com/ejmr/php-mode.git
[submodule "lib/twittering-mode"]
        path = lib/twittering-mode
        url = git://github.com/hayamiz/twittering-mode.git
[submodule "lib/virtualenv"]
        path = lib/virtualenv
        url = git@github.com:aculich/virtualenv.el.git
[submodule "lib/emacs-eclim"]
        path = lib/emacs-eclim
        url = git@github.com:senny/emacs-eclim.git
[submodule "lib/mu4e"]
        path = lib/mu4e
        url = https://github.com/emacsmirror/mu4e.git
[submodule "lib/s"]
        path = lib/s
        url = https://github.com/magnars/s.el.git
[submodule "lib/org"]
        path = lib/org
        url = git://orgmode.org/org-mode.git
[submodule "/home/kotfic/.emacs.d/lib/ESS"]
	path = /home/kotfic/.emacs.d/lib/ESS
	url = git@github.com:emacs-ess/ESS.git
[submodule "lib/jabber"]
	path = lib/jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "lib/logito"]
	path = lib/logito
	url = https://github.com/sigma/logito
[submodule "lib/pcache"]
	path = lib/pcache
	url = https://github.com/sigma/pcache
[submodule "lib/gh"]
	path = lib/gh
	url = https://github.com/sigma/gh.el
[submodule "lib/gist"]
	path = lib/gist
	url = https://github.com/defunkt/gist.el
[submodule "lib/org-bullets"]
	path = lib/org-bullets
	url = git@github.com:sabof/org-bullets.git
